# Dependencies
node_modules
package-lock.json

# Output
build
out
.next

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE settings
.vsc
.idea
.vscode
*.iml
*.ipr
*.iws
vcs.xml
workspace.xml